# Xcode
.DS_Store
*.swp
*.lock
DerivedData/
build/
Pods/

# Archivos específicos de usuario en Xcode
Recipes.xcodeproj/xcuserdata/
Recipes.xcodeproj/xcshareddata/xcschemes/

# Archivos temporales y de configuración personal
*.log
*.mp4
*.png
*.user
*.userprefs

# Otros archivos no necesarios
video.MP4
UML classes.png
